name: Laravel CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.0'  
        extensions: mbstring, bcmath, pdo_mysql, exif
        ini-values: post_max_size=256M, max_execution_time=300
        coverage: none

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest --no-interaction

    - name: Copy .env example
      run: cp .env.example .env

    - name: Generate application key
      run: php artisan key:generate

    - name: Seed the database
      run: php artisan db:seed --force

    - name: Run database migrations
      run: php artisan migrate --force

    - name: Run tests
      run: php artisan test
