name: Laravel CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
      - name: copy .env file
        run: |
          cp .env.example .env

      - name: Run composer
        run: |
          composer install --no-interaction
      
      - name: Run test suite
        run: |
          php artisan test
      